.navLinks{
  background-color: #22232b;
  display: flex;
  padding: 10px;
  list-style: none;
}

.navLink {
  padding: 15px 20px;
  text-decoration: none;
  color: darkgray;
  list-style: none;
}

.navItem:hover{
  background-color: #3e404e;
}

.active {
  background-color: #fff;
  color: #22232b;
}

*, :after, :before {
  box-sizing: border-box;
}

div {
  display: block;
}