.navLinks{
  background-color: #22232b;
  display: flex;
  padding: 10px;
  color: rgb(34, 35, 43);
}

.navItem:hover{
  background-color: #3e404e;
}

.active {
  background-color: #fff;
  color: #22232b;
}